/*Importação de fonte do google  */
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

/* Configura todas as páginas do site */
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*Remove o traço inferior abaixo do link do navbar*/
}

/* Altera a cor do conteudo da pagina */
body{
    background-color: black; 
}

.text-test {
    color: #f6f6f6; /* Cor do texto */
    margin-bottom: 20px; /* Margem referente ao rodapé */
    font-family: 'David Libre', serif; /* Fonte importada */
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.navbar .logo a{
    color: #547ec7;
    font-size: 35px; /*Tamanho da fonte*/
    font-weight: 500; /*Espessura da fonte*/
}

.navbar{
    position: fixed; /*POSITION determina como ficará a localização deste objeto, FIXO determina que não deve alocar nenhum espaço */
    width: 100%; /*vai ocupar 100% do espaço */
    z-index: 999; /*Define a orde do elemento e seus decendentes*/
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121721;
    border-bottom: solid #1b22a1; /*Borda no rodapé */
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none; /*Remove os icones das listas*/
    display: inline-block; /*Deixa os itens de menu em uma unica linha*/
}

.navbar .menu li a{ /* Altera o link TAG a dentro de navbar*/
    display: block; /* Fixa a imagem*/
    color: #f6f6f6; /*Cor da fonte*/
    font: 18px; /* Tamanho da fonte*/
    font-weight: 400; /*Espessura da fonte*/
    margin-left: 25px; /*Margen entre os itens do menú*/ 
}

.menu-btn{
    color: #f6f6f6;
    font-size: 23px;
    cursor: pointer; /*Altera o cursor para a mãe ser clicável*/
    display: none; /*Não ira apresentar no site*/

}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }


    .menu-btn i.active:before{
        content: "\f00d";;
    }

    .navbar .menu{
        background-color: #121721;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease-out;
    }

}

.navbar .menu.active{
    left: 0;
}

.navbar .menu li{
    display: block;
}

.navbar .menu li a{
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
}

.max-width{
    max-width: 930px;
}